.card-carousel-slick {
    margin: 50px;
    .extra-information {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.card.slick-slide {
    margin: 10px;
}

.card-carousel-title {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0;
    padding-left: 20px;
    color: #494D5F;
}

