.cardItem-wrapper {
    padding: 10px;
    width: 250px;
    height: 350px;
}
.cardItem-container {
    width: 230px;
    height: 330px;
    margin: auto;
    background-color: white;
    margin: 15px;
    cursor: pointer;
    transition: box-shadow 0.5s ease-out;
    &:hover {
        box-shadow: 11px 10px 23px -4px rgba(212,212,212,1);
    }
}