.cardItem-wrapper {
    padding: 10px;
    width: 250px;
    height: 300px;
}
.cardItem-container {
    width: 200px;
    height: 300px;
    margin: auto;
    background-color: white;
    margin: 5px;
    box-shadow: 8px 13px 33px -6px rgba(224,224,224,1);
}