button.hamburger-btn {
    background-color: transparent;
    border: transparent;
    padding-bottom: 1px;
    padding-left: 10px;
    cursor: pointer;
    height: 40px;
    img {
        height: 93%;
        &:hover {
            border: 1px solid whitesmoke;
            border-radius: 3px;
            transition: 0.3s;
        }
    }
}
