button.hamburger-btn {
    background-color: transparent;
    border: transparent;
    padding-bottom: 1px;
    cursor: pointer;
    margin-top: 5px;
    height: 40px;
    img {
        height: 93%;
    }
}