.header-container {
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    height: 7%;
    background-color: #494D5F;
    section.left-section, section.middle-section, section.right-section {
        display: block;
        flex: 1;
        background-color:inherit;
    }

    section.left-section {
        max-width: 15%;
    }

    section.right-section {
        max-width: 20%;
        .right-container {
            padding: 0;
            width: 100%;
            display: flex;
            height: 100%;
            justify-content: space-evenly;
        }
    }
}