.cart-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    img {
        width: 30px;
        height: 30px;
    }
    .notification-count {
        color: black;
        position: absolute;
        font-size: 15px;
        min-width: 22px;
        top: -10px;
        right: -10px;
        z-index: 1;
        border-radius: 50%;
        background-color: yellow;
        p {
            margin: 0;
        }
    }
}
