.slideshow-container {
    width: 100%;
    margin-bottom: 20px;
    .slideshow-wrapper {
        width: 100%;
        max-height: 400px;
    }
}

.carousel-image-container {
    width: 100%;
    height:auto;
    img {
        width: 100%;
        max-height: 400px;
    }
}